packages:
  yum:
    postgresql93-devel: []
container_commands:
  build-pg:
    command: bundle config build.pg --with-pg-config=/usr/bin/pg_configbuild-pg:

    command: bundle config build.pg --with-pg_config=/usr/bin/pg_config

  db:
    command: "bundle exec rake db:migrate"
    leader_only: true